<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
<div th:replace="/common/navbar :: navbar"></div>

<div class="main_padding_margin">

<p>Cat has been created!</p>
    <a href="/view/cat/{cat-id}" th:href="@{/view/cat/{cat-id}(cat-id=${cat.id})}"><p th:text="${cat.name}"></p></a>

</div>

<div th:replace="/common/footer :: footer"></div>
</body>
</html>