<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>

<div th:replace="/common/navbar :: navbar"></div>

<!--<table class="table table-bordered table-striped">-->
<!--<thead class="table-info">-->
<!--<th>Name</th>-->
<!--<th>Age</th>-->
<!--<th>Color</th>-->
<!--<th>Photo</th>-->
<!--</thead>-->
<!--<tbody>-->
<!--<td th:text="${cat.name}"></td>-->
<!--<td th:text="${cat.age}"></td>-->
<!--<td th:text="${cat.color}"></td>-->
<!--<td>-->
<!--<img height="60" width="60" th:src="@{${cat.imagePath}}" />-->
<!--</td>-->
<!--</tbody>-->
<!--</table>-->
<div class="main_padding_margin">
    <div style="text-align: center">
        <h4>Photo</h4>
        <p>
            <img height="40" width="40" th:src="@{${cat.imagePath}}" />
        </p>
        <table class="table">
            <tr>
                <td></td>
                <td></td>
                <td><b>Name: </b></td>
                <td th:text="${cat.name}"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><b>Age: </b></td>
                <td th:text="${cat.age}"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><b>Color: </b></td>
                <td th:text="${cat.color}"></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
<div th:replace="/common/footer :: footer"></div>

</body>
</html>