<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cats</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>

<div th:replace="/common/navbar :: navbar"></div>

<div class="main_padding_margin">

    <table class="table table-bordered table-striped">
        <thead style="background-color:cornflowerblue">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Color</th>
            <th>Photo</th>
            <th>Actions</th>
        </tr>
        </thead>
        <th:block th:each="cat : ${cats}">
            <tr style="vertical-align: middle">
                <td>
                    <a href="/view/cat/{cat-id}" th:href="@{/view/cat/{cat-id}(cat-id=${cat.id})}"><p th:text="${cat.name}"></p></a>
                </td>
                <td th:text="${cat.age}"></td>
                <td th:text="${cat.color}"></td>
                <td>
                    <img height="50" width="50" th:src="@{${cat.imagePath}}" />
                </td>
                <td>
                    <a th:href="@{/update-cat(id=${cat.id})}"
                       class="btn btn-primary btn-sm">
                        Update
                    </a>
                </td>
            </tr>
        </th:block>
    </table>

</div>

<div th:replace="/common/footer :: footer"></div>
</body>
</html>