<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Found cats</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>

<div th:replace="/common/navbar :: navbar"></div>

<div class="main_padding_margin">

    <table class="table table-bordered table-striped">
        <thead class="table-info">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Color</th>
            <th>Photo</th>
        </tr>
        </thead>
        <th:block th:each="cat : ${foundCats}">
            <tr style="vertical-align: middle">
                <td>
                    <a href="/view/cat/{cat-id}" th:href="@{/view/cat/{cat-id}(cat-id=${cat.id})}"><p th:text="${cat.name}"></p></a>
                </td>
                <td th:text="${cat.age}"></td>
                <td th:text="${cat.color}"></td>
                <td>
                    <img height="40" width="40" th:src="@{${cat.imagePath}}" />
                </td>
            </tr>
        </th:block>
    </table>

</div>

<div th:replace="/common/footer :: footer"></div>

</body>
</html>